:root {
    --secondary-color: #3a121b;
    --primary-color: #EFE1D5;
}


* {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: "Helvetica";
    overflow-x:hidden;
}


h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    letter-spacing: -0.08em;
}

h1 {
    font-size: 192px;
}

h2 {
    font-size: 80px;
}

h3 {
    font-size: 44px;
}

p {
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: -0.05em;
    font-weight:300
}

p.about-para {
    font-size: 56px;
}

li, .link {
    letter-spacing: -0.08em;
}

a {
    font-size: 44px;
}

i {
    font-size: 36px;
    margin: 0 5px;
}

.link {
    text-decoration: underline;
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}


nav {
    display: flex;
    gap: 100px;
    padding: 12.5px;
    position: fixed;
    z-index: 999;
    width: 100vw;
    
}

nav.scrolled {
    border-bottom: 1px solid var(--secondary-color);
}

nav li a {
    text-decoration: none;
    list-style: none;
    font-size: 24px;
    font-weight: 300;
}


.container {
    margin-left: 18px;
    margin-right: 9px;
    display: flex;
    /* gap: 5em; */
    flex-direction: column;
    z-index: 1;
}

section {
    padding: 30px 0;
}

.intro {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    /* gap: 25px; */
    justify-self: center;
    margin-top: auto;
    padding: 30px 0;
}


.about {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.about-para {
    line-height: 2.2;
    font-size:56px;
}

/* Work Section */
.work {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.projects {
    display: flex;
    align-content: space-between;
    gap: 50px;
}

.project-card {
    flex: 1;
}


.contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4em;
    padding: 20px 0;
}

.icons {
    display: flex;
    justify-self:flex-end;
    
}


@media (max-width: 875px) {
    h1 {
        font-size: 128px;
    }

    h2 {
        font-size: 64px;
    }

    h3, .link {
        font-size: 36px;
    }

    p {
        font-size: 24px;
    }

    p.about-para {
        font-size: 48px;
    }

    .projects {
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 96px;
    }

    h2 {
        font-size: 48px;
    }

    h3, .link {
        font-size: 36px;
    }

    p {
        font-size: 24px;
    }

    p.about-para {
        font-size: 32px;
    }

    nav {
        gap: 50px;
    }
}

@media (max-width: 400px) {
    h1 {
        font-size: 64px;
    }

    h2 {
        font-size: 38px;
    }

    h3, .link {
        font-size: 32px;
    }

    i {
        font-size: 32px;
    }

    p {
        font-size: 18px;
    }

    p.about-para {
        font-size: 28px;
    }

    nav {
        gap: 30px;
    }

    .container {
        gap: 2.25em;
    }
}